* {
	width: 100%;
}

header {
	background-color: #f8f9fa;
	padding: 1rem;
	border-bottom: 1px solid #ddd;
}

header h1 {
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	gap: 1rem;
}

header nav ul li {
	display: inline;
	padding: 1em 1.3em;
	.right {
		float: right;
	}
}

header nav ul li a {
	text-decoration: none;
	color: black;
}

header nav ul li a:hover {
	text-decoration: underline;
}