* {
	width: 100%;
	color: black;
}

header {
	background-color: #f8f9fa;
	padding: 1em;
	border-bottom: 1px solid #ddd;
	width: 100%;
}

header nav {
	display: flex;
	padding: 1em 1.3em;
}

header nav a {
	display: flex;
	text-decoration: none;
	color: black;
	padding: 1.3em;
	margin: 10px auto;
	max-width: 30%;
}

header nav a:hover {
	text-decoration: underline;
	border: #424242 3px solid;
	border-radius: 10px;
}

@media (max-width: 768px) {
	header nav ul li {
		display: block;
	}

}