<app-header></app-header>
<body [ngStyle]="">
	<div class="container">
		<h1>Elektronic Elek Szakszervíz</h1>
		<p>Üdvözöljük a weboldalunkon!</p>

		<form [formGroup]="request">
			<fieldset>
				<legend>Időpontfoglalás regisztráció nélkül</legend>
				<div>
					<label for="name">Név:</label><br>
					<input id="name" type="text" formControlName="name" required />
				</div>
				<div>
					<label for="email">Email:</label><br>
					<input id="email" type="email" formControlName="email" required />
				</div>
				<label for="device">Eszköz:</label><br>
				<select  name ="device" id="device" formControlName="device" required>
					<option value="" disabled>Kérem válasszon eszközt!</option>
					<option value="phone">Telefon</option>
					<option value="laptop">Laptop</option>
				</select>
				<label for="problem">Mi a probléma?</label>
				<select name="problem" id="problem" formControlName="problem" required>
					<option value="" disabled>Kérem válassza ki a problémáját!</option>
					<option value="screen">Kijelző</option>
					<option value="battery">Akkumulátor</option>
					<option value="software">Szoftver</option>
					<option value="other">Egyéb</option>
				</select>
				<div>
					<label for="description">Kérem részletezze a problémát:</label><br>
					<textarea id="description" rows="7" cols="80" required></textarea>
				</div>
				<input type="submit" value="Küldés" />
			</fieldset>
		</form>
    </div>
</body>