/* base pattern (nav, body, footer) */
* {
	color: #dfdfdf;
	/*font-family: Tahoma, serif ;*/
	font-family: Garamond, serif;
}

body {
	padding: 0;
	margin: 0;
	background-color: #424242;
	color: #dfdfdf;
}

.introduction {
	text-align: center;
	font-size: 1.4em;
}

.header{
	box-shadow: 5px 5px 5px #313131;
	margin: 0 auto 3em auto;
	padding: 0 0 3em 0;
	background-color: #292929;
	display: inline-block;
	width: 100%;
	position: fixed;
	top: 0;
	max-height: 40px;
	z-index: 100;
}

.link-wrapper {
	background-color: inherit;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 40px;
	grid-row-gap: 0;
	margin: 0 auto;
	top: 0;
	max-width: 66%;
	justify-content: space-between;
	height: inherit;
	/*border: 2px solid black;*/
}

.link-wrapper a {
	display: flex;
	background-color: inherit;
	text-decoration: none;
	max-width: 100%;
	text-align: center;
	/*border: 3px dashed red;*/
	font-weight: bold;
	font-size: 1.6em;
	height: 70px;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 20px 20px;
	transform: scale(1);
	transition-timing-function: linear;
	transition-duration: 0.2s;
}

.link-wrapper a:hover:not([id="active"]) {
	transform: scale(1.1);
	box-shadow: 0 0 15px #373737;
	text-shadow: 0 0 15px #717171;
	transition-timing-function: linear;
	transition-duration: 0.2s;
}

#active {
	animation-name: purple-gradient;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transform: scale(1.1);
	text-shadow: 0 0 20px #717171;
}

.body {
	margin: 0 auto;
	background-color: #373737;
	min-height: 1080px;
	width: 70%;
	z-index: 1;
	box-shadow: 0 0 20px #474747;
	padding: 100px 0 200px 0;
}



footer {
	box-shadow: -5px -5px 5px #313131;
	bottom: 0;
	padding: 1em;
	background-color: #282828;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-evenly;
}

footer > section {
	background-color: inherit;
	margin: 0 auto;
	display: inline-block;
	max-width: 20%;
	width: fit-content;
	font-size: 1.1em;
	vertical-align: center;

	h4 {
		margin: 0;
		padding: 0;
	}
}


/* landing page, products page */
.products {
	max-width: 100%;
	margin: 50px auto;
	h2 {
		text-align: center;
		margin-bottom: 5px;
		font-size: 2em;
	}
	p{
		text-align: center;
		font-size: 1.2em;
		margin-top: 5px;
		margin-bottom: 20px;
	}
	.product:not([h2]) {
		display:flex;
		flex-wrap: wrap;
		.wand-main, .wand-wrapper {
			border-radius: 20px;
			background-color: #303030;
			max-width: 100%;
			margin: auto;
			padding: 0 10px 10px 10px;
			animation-name: purple-gradient;
			animation-timing-function: linear;
			animation-duration: 3s;
			animation-fill-mode: forwards;
			animation-iteration-count: infinite;

			h3 {
				text-align: center;
			}
			.description {
				text-align: justify;
				font-size: 0.8rem;
				margin: 10px;
			}
			img {
				max-width: 250px;
				margin: 10px auto;
				border-radius: 10px;
				display: flex;
			}
			.description {
				font-size: 1.2em;
			}
		}
	}
}
.wand-wrapper {
	width: 28%;
}
.business-hours {
	.nyitva, tr, th, td {
		border-collapse: collapse;
		border: #282828 solid 3px;
		padding: 10px 20px;
		margin: 20px auto;
		font-size: 1.3em;
	}
	.nyitva {
		box-shadow: 0 10px 10px #282828;
		tr td:last-of-type {
			text-align: center;
		}
		tr:nth-child(odd) {
			background-color: #303030;
		}
		tr:nth-child(even) {
			background-color: #474747;
		}
	}
}


/*product page*/
.specs {
	font-size: 1.8em;
}
.wand-wrapper:hover, .wand-main:hover {
	transform: scale(1.1);
	transition-duration: 0.3s;
}


/*history*/
.history-wrapper {
	width: 85%;
	margin: 40px auto;

	.one-section {
		background-color: #303030;
		margin: 60px 0;
		border-radius: 10px;
		padding: 0;
		animation-name: purple-gradient;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-duration: 10s;
		border-collapse: collapse;

		h2 {
			padding: 0;
			margin: 0;
			text-align: center;
			font-size: 2em;
		}
		th {
			height: 2em;
			padding: 30px 0 20px 0;
		}
		tr:nth-child(2) td {
			padding: 0 20px;
			font-size: 1.7em;
			text-align: justify;
		}

		img {
			border-radius: 10px;
			margin: 7px;
			max-height: 320px;
		}
	}
}
.one-section {
	transform: scale(1);
	transition-timing-function: linear;
	transition-duration: 0.3s;
}
.one-section:hover {
	transform: scale(1.1);
	transition-timing-function: linear;
	transition-duration: 0.3s;
	animation-duration: 3s;
}

/* history and manufacture */
.contents {
	margin: 70px auto;
	vertical-align: center;
	font-size: 1.6em;
	text-align: center;

	.progress {
		font-size: 1.1em;
		margin: 0 110px;
	}

	a {
		cursor: pointer;
		text-decoration: none;
	}
}

/*manufacture*/
.manufacture-wrapper {
	width: 85%;
	margin: 40px auto;

	.step {
		background-color: #303030;
		margin: 40px 0;
		border-radius: 10px;
		padding: 0;
		animation-name: purple-gradient;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-duration: 10s;
		border-collapse: collapse;

		h2 {
			padding: 0;
			margin: 0;
			text-align: center;
			font-size: 2em;
		}
		th {
			height: 1.4em;
			padding: 30px 0 20px 0;
		}
		tr:nth-child(2) td {
			margin: 0;
			padding: 0 20px;
			font-size: 1.9em;
			text-align: justify;
		}

		img {
			border-radius: 10px;
			margin: 7px;
			max-height: 280px;
		}
	}
}
.step {
	transform: scale(1);
	transition-timing-function: linear;
	transition-duration: 0.3s;
}
.step:hover {
	transform: scale(1.1);
	transition-timing-function: linear;
	transition-duration: 0.3s;
	animation-duration: 3s;
}


/*feedbacks*/
.comments, .new-comment{
	width: 80%;
	margin: 10px auto;
	background-color: #505050;
	padding: 10px;
	box-shadow: 0 0 8px #474747;
	border-radius: 10px;
	p {
		font-size: 1.3em;
	}
	label {
		display: block;
		color: #333;
	}

	input {
		margin-bottom: 20px;
	}

}
.new-comment input, textarea{
	padding: 20px 20px;
	margin: 10px auto;
	background-color: #373737;
	font-size: 1.1em;
	width: 95%;
	color: #dfdfdf;
}
.new-comment label {
	color: white;
}
input[type=submit] {
	background-color: #252;
	font-size: 1.2em;
	width: 99%;
	cursor: pointer;
}
input[type=submit]:hover {
	background-color: #292;
}
.comment-text {
	margin-bottom: 12px;
	padding: 10px 20px;
	text-align: justify;
}
.comment-date {
	display: inline-block;
	color: #a1a1a1;
}
.comment-name {
	font-weight: 600;
	text-align: right;
	display: inline-block;
	float: right;
}
hr {
	margin: 10px 0;
}

.stars .material-symbols-outlined {
	font-size: 2em;
	color: #EAC452;
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.stars .empty {
	font-size: 2em;
	color: #EAC452;
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.rating {
	font-size: 3.2em;
	width: fit-content;
	margin: 40px 200px;
	background-color: #505050;
	padding: 25px;
	border-radius: 20px;
	animation-name: gold-gradient;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.rating .material-symbols-outlined {
	font-size: 0.9em;
	color: #EAC452;
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.rating .empty {
	font-size: 0.9em;
	color: #EAC452;
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}


/*contact-page*/
.contacts-flex {
	display: flex;
	justify-content: space-evenly;
	margin: 100px auto;
	padding: 10px;

	> div {
		width: 40%;
		margin: 0 auto;
		font-size: 1.7em;
	}
}
.contacts-flex .send-message {
	input, textarea {
		padding: 20px 20px;
		margin: 10px auto;
		background-color: #282828;
		font-size: 0.9em;
		width: 92%;
	}
	input[type=submit] {
		background-color: #252;
		font-size: 1.2em;
		width: 100%;
		cursor: pointer;
	}
	input[type=submit]:hover {
		background-color: #292;
	}
}
.contacts-flex .info{
	padding: 20px;

	h3 {
		padding: 0;
		margin: 0;
	}
	h3:nth-of-type(3) {
		margin-bottom: 20px;
	}
	p {
		margin-left: 30px;
		padding: 0;
		i {
			font-size: 0.9em;
		}
	}
	img {
		max-width: 100%;
		box-shadow: 2px 2px 8px #282828;
	}
	img:hover {
		cursor: pointer;
	}
}


/*responsivity*/
@media only screen and (max-width: 800px) {
	body {
		background-image: unset;
	}
	.body {
		width: 100%;
		margin: 0;
		display: block;
		padding: 350px 0;
	}
	.header {
		/*display: none;*/
		font-size: 0.6em;
		position: static;
	}
	.link-wrapper {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		a {
			width: 95%;
		}
		a[id=active] {
			z-index: 10;
		}
	}

	.product {
		flex-direction: column;
		gap: 50px;

	}
	.product .wand-main, .wand-wrapper {
		max-width: 80%;
		width: unset;
	}

	/* history and manufacture */
	.one-section, .step {
		padding: 40px;
	}
	.one-section tr td, .step tr td {
		padding: 20px 5px;
		text-align: left;
	}
	.one-section img, .step img{
		display: none;
	}
	.contents .progress {
		margin: 0 10px;
	}

	/* feedbacks */
	.rating {
		max-width: 80%;
		margin: 30px auto;
	}
	.new-comment {
		max-width: 90%;
		input, textarea {
			max-width: 87%;
		}
		input[type=submit] {
			max-width: 100%;
		}
	}

	/* contacts */
	.contacts-flex {
		flex-direction: column;
		justify-content: unset;
		>div {
			max-width: 100%;
			width: unset;
		}
	}
	.send-message {
		max-width: 90%;
		input, textarea {
			width: unset;
			max-width: 90%;
		}
		input[type=submit] {
			width: unset;
			max-width: 100%;
		}
	}
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
	body {
		background-image: unset;
	}
	.body {
		width: 100%;
		margin: 0;
		display: block;
		padding: 350px 0;
	}
	.header {
		/*display: none;*/
		font-size: 0.6em;
		position: static;
	}
	.link-wrapper {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		a {
			width: 95%;
		}
		a[id=active] {
			z-index: 10;
		}
	}

	/* products */
	.product {
		flex-direction: row;
		gap: 50px;
	}
	.wand-wrapper, .wand-main {
		max-width: 90%;
		width: unset;
	}

	/* contacts */
	.send-message {
		max-width: 90%;
		input, textarea {
			width: unset;
			max-width: 87%;
		}
		input[type=submit] {
			width: unset;
			max-width: 100%;
		}
	}
}


/*animations*/
@keyframes purple-gradient {
	0% {box-shadow: 0 0 15px 8px #670074}
	25% {box-shadow: 0 0 15px 8px #690055}
	50% {box-shadow: 0 0 15px 8px #4f007c}
	75% {box-shadow: 0 0 15px 8px #3d0049}
	100% {box-shadow: 0 0 15px 8px #670074}
}

@keyframes gold-gradient {
	0% {box-shadow: 0 0 15px 8px #bf9b30}
	25% {box-shadow: 0 0 15px 8px #ffbf00}
	50% {box-shadow: 0 0 15px 8px #ffcf40}
	75% {box-shadow: 0 0 15px 8px #ffdc73}
	100% {box-shadow: 0 0 15px 8px #bf9b30}
}

@keyframes scale {
	0% {transform: scale(1)}
	100% {transform: scale(1.1)}
}
